<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotos de Animais</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <a class="button-link left-button" href="/esquilo"> <img src="/img/arrow-bar-left.svg" alt="Button left">
        Anterior </a>

    <div id="content">
        <div id="center-content">
            <div id="text-about">
                <h2>Ganso</h2>
                <p> Gansos são aves migratórias de grande porte, conhecidas por seu forte instinto de proteção e capacidade de formar grandes grupos em vôo. Suas longas viagens são um espetáculo da natureza.
                </p>
            </div>
            <img src="/img/img_ganso.jpg" alt="img_ganso">
        </div>
    </div>

    <a class="button-link right-button" href="/garca"> <img src="/img/arrow-bar-right.svg"
            alt="Button right"> Próxima </a>
    <script src="/js/script.js"></script>
</body>

</html>